.navbar-brand{
    padding-left:50px;
}

#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("img/intro-bg_1.jpg") no-repeat center;
    background-size: cover;
}

#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
}

#footer{
    padding: 15px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    height:50px;
}

.row-margin{
    margin-top:80px;
}

.jumbotron{
    background-color: #bfbfbf;
    margin-top: 100px;
}

.table-margin{
    margin-top:100px;
}

tr{
    height:40px;
}

th,td{
    max-width:30px;
}

th{
    background-color: #306a9f;
    color: white;
}

.table-width{
    max-width:500px;
}

#products-back{
    background-color: #004c64;
}

.footer-margin{
    margin-top:200px;
}

.error{
    color:red;
}

